<div class="modal-header">
    <h5 class="modal-title cNVbvo" id="exampleModalLabel">{{Type}}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    
    <h1>{{messege}}</h1>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()" (click)="exit()" >
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="save()" >Accept</button>
  </div>
