@media screen  {

}.imgClass{
  /* width: 40%; */
  /* margin: auto; */
  float: right;
}
.imgClass img{
border-radius: 25px;
}
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(1, 1, 86);
}
table{
  width: 50%;
  padding: 10px;
  box-sizing: content-box;
  row-gap: 10px;
}
tr{
  /* background-color: rgb(245, 245, 249); */
  margin:5px ;

}
.container{
  background-color: rgb(251, 251, 245);
  border-radius: 20px;
  box-shadow: inset;
  padding: 20px 10px ;
}
