
 <div class="modal-header ">
  <h4 class="modal-title" >{{med?.drugName}} Details</h4>

</div>
<div class="modal-body row">
  <div class="imgClass col-lg mb-2">

    <img src=".././../../../../assets/images/pexels-pixabay-208518.jpg" class="card-img-top fa-s" alt="medicine">
  </div>
 <div class="col-lg">

     <mat-card class="example-card">

         <mat-card-header>

           <mat-card-title>{{med?._id}} : {{med?.drugName}}</mat-card-title>
           <mat-card-subtitle class="mb-4 ">Dosage: {{med?.dosage}}</mat-card-subtitle>
         </mat-card-header>
         <mat-card-content>
             <ul class="list-group list-group-flush">
                 <li class="list-group-item">Description: {{med?.description}} </li>
                 <li class="list-group-item">Price: {{med?.price}} $</li>
                 <li class="list-group-item">Quantity: {{med?.quantity}} </li>
                 <li class="list-group-item">Form: {{med?.form}}</li>
                 <li class="list-group-item">Archive: {{med?.archive}}</li>
                 <li class="list-group-item">Mfd_date:  {{mdf}}</li>
                 <li class="list-group-item">Exp_date:  {{exp}}</li>

               </ul>
               <div class="d-grid  d-md-flex justify-content-md-end mt-3">

                 <!-- <a routerLink="/medicines"routerLinkActive="active1" class="btn btn-secondary me-md-2 mt-5"> back </a> -->
                 <button mat-raised-button color="warn"class='me-2' (click)="back()"   class="back"> Back</button>
               </div>

         </mat-card-content>
       </mat-card>
 </div>

</div>
<div class="modal-footer">

</div>
