<div class="body">

    <div class="container  ">
      <div class="row gx-5  d-flex justify-content-center">
        <div class="col-12 col-md-6 " id="sid" >
            <div class="col-12 info row">
              <div class="col-2 m-2">
                <img src="../../../assets/images/doc.jpg" alt="">
              </div>
              <div class="col-9 m-2 ">
                <h1 class="capitalize" >Doctor <p class="cNVbvo">{{doctor.name}}</p> </h1>
                <h3 class="capitalize">Consultant of {{doctor.speciality}}</h3>
                <h3 class="capitalize">Experience : {{doctor.yearsOfExperience}} year</h3>
                <div class=" m-2 flex justify-content-center">
                  <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
                </div>
              </div>
            </div>
            <div class="col-12 info">
              <h3 class="cNVbvo">About The Doctor</h3>
              <p class="capitalize"> {{doctor.speciality}} National Cancer Institute, Cairo University 
                 Member of the American and European Society of Medical Oncology. Consultant {{doctor.speciality}}, Tanta Cancer Center.</p>
            </div>
        </div>

        <div class="col-12 col-md-5 info">
            <div id="bookingInfo">
              Booking Information
            </div>
            <p-divider align="center">
              <div class="inline-flex align-items-center">
                <b>Book</b>
            </div>
            </p-divider>
            <div class="centerInfo">
              <p>Examination</p>
            </div>
            <p-divider >
            </p-divider>
            <div align="center">
              <i class="pi pi-dollar mr-2" >Fees: {{doctor.price}} EGP
              </i>
            </div>
            <p-divider></p-divider>
            <div align="center">
              <i class="pi pi-building mr-2">Location:
                {{doctor.address.city}}
              </i>
              <p class="cNVbvo">Book now to receive the clinic’s address details and phone number</p>
            </div>
            <p-divider></p-divider>
            <div align="center">
              <h2 class="capitalize" >Choose your appointment</h2>
              <div class="row">

                <div class="col">
                  <label class="lable ">Today</label>
                    <p-listbox [options]="schedule" (onClick)="today = true; tomorrow= false"[(ngModel)]="TodaySelect" [listStyle]="{ 'max-height': '200px' }" optionLabel="name" ></p-listbox>
                </div>
                <div class="col">
                  <label class="lable">Tomorrow</label>
                    <p-listbox [options]="TMRSchedule" (onClick)="today = false ;tomorrow= true" [(ngModel)]="TMRSelect" [listStyle]="{ 'max-height': '200px' }" optionLabel="name" ></p-listbox>
                </div>
                <p-divider></p-divider>
                <div>
                  <p-button class="btnC" *ngIf="today && TodaySelect.code!='Not Avalible'"  (click)="bookToDay()">Book Today At {{TodaySelect.code}}</p-button>
                  <p-button class="btnC" *ngIf="tomorrow && TMRSelect.code!='Not Avalible'" (click)="bookToTMR()">Book Tomorrow At {{TMRSelect.code}}</p-button>

                 </div>
              </div>
                          
           </div>
           <p-divider></p-divider>
           <div align="center">
              <p>Appointment reservation</p>
           </div>
           <p-divider></p-divider>
           <div class="cNVbvo">
                  Book online, Pay online Or at the clinic!
                  Doctor requires reservation!
           </div>
           <p-divider></p-divider>
         
        </div>
      </div>
    </div>
  </div>
  



  