
  <h1>Active</h1>

<mat-tab-group>
  <mat-tab label="Doctor"> 
     <app-active-doc></app-active-doc>
  </mat-tab>
  <mat-tab label="Employee"> 
    <app-active-emp></app-active-emp>
  </mat-tab>
  <mat-tab label="Patient"> 
    <app-active-patient></app-active-patient>
  </mat-tab>
</mat-tab-group>
<br>
<br>
<br>

<!-- <div class="card">
  <div class="card-head">Avtive</div>
  <div class="card-body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt mollitia, similique ipsum perspiciatis recusandae veritatis debitis fuga at maxime blanditiis eius rem, earum excepturi aspernatur harum enim facilis. Consequuntur, ea!
  </div>
</div> -->


<ng-confirm></ng-confirm>
<lib-ng-toast></lib-ng-toast>