    <mat-card-content>
      <form [formGroup]="doctorRegisterForm">

        <mat-form-field style="width: 91.5%;">
          <input formControlName="name" type="text" matInput placeholder="User Name" required>
          <mat-icon matSuffix>perm_identity</mat-icon>
          <mat-error *ngIf="doctorName?.errors?.['required']"> Username is required </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 91.5%;">
          <input formControlName="email" type="email" matInput placeholder="Email" required>
            <mat-error *ngIf="doctorEmail?.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="doctorEmail?.errors?.['pattern']">Email is Invalid</mat-error>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field style="width: 30%;">
            <input matInput formControlName="age" min=18 max="50" placeholder="Age" type="number" id="age"   />
            <mat-icon matSuffix>perm_identity</mat-icon>
          </mat-form-field>

          <mat-form-field class="ms-2" style="width: 60%;">
            <input matInput formControlName="phone" placeholder="Phone" type="text" id="phone"   />
            <mat-error *ngIf="doctorPhone?.errors?.['pattern']">Phone Not Valid</mat-error>
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>

          <mat-form-field style="width:25%;" appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field class="ms-1" style="width: 28%;">
            <input matInput formControlName="yearsOfExperience" min=1 placeholder="Experience" type="number" id="YOE" />
            <mat-icon matSuffix>number</mat-icon>
          </mat-form-field>


          <mat-form-field class="ms-2" style="width:36%;" appearance="fill">
            <mat-label>Speciality</mat-label>
            <mat-select formControlName="speciality">
              <mat-option value="cardiology">Cardiology</mat-option>
              <mat-option value="dentistry">Dentistry</mat-option>
              <mat-option value="ear">Ear</mat-option>
              <mat-option value="nose">Nose</mat-option>
              <mat-option value="throat">Throat</mat-option>
              <mat-option value="ENT">ENT</mat-option>
              <mat-option value="nutrition">Nutrition</mat-option>
              <mat-option value="dermatology">Dermatology</mat-option>
            </mat-select>
          </mat-form-field>

          <div formGroupName="address">
              <mat-form-field style="width: 30%;">
                <input matInput formControlName="city" placeholder="City" type="text" id="city"   />
                <mat-error *ngIf="doctorCity?.errors?.['required']">City is Required</mat-error>
                <mat-icon matSuffix>location_on</mat-icon>
              </mat-form-field>

              <mat-form-field class="ms-1" style="width: 30%;">
                <input matInput formControlName="street" placeholder="Street" type="text" id="street"   />
                <mat-icon matSuffix>location_on</mat-icon>
              </mat-form-field>

              <mat-form-field class="ms-1" style="width: 30%;">
                <input matInput formControlName="building" min="1" placeholder="Building" type="number" id="building"   />
                <mat-icon matSuffix>home</mat-icon>
              </mat-form-field>
          </div>


        <mat-form-field style="width: 91.5%;">
          <input formControlName="password" matInput placeholder="Password"  type="password"  required minlength="6">
            <mat-error  *ngIf="doctorPassword?.errors?.['required']">Password is Required</mat-error>
            <mat-error  *ngIf="doctorPassword?.errors?.['minlength']">Password must be of length 6</mat-error>
          <mat-icon matSuffix>lock</mat-icon>

        </mat-form-field>

        <mat-form-field style="width: 91.5%;">
            <input formControlName="confirmPassword" matInput placeholder="Confirm Password" type="password" required minlength="6">  
            <mat-error *ngIf="doctorRegisterForm.errors?.['misMatch']">Passwords do not match</mat-error>
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" class="register-button" [disabled]="!doctorRegisterForm.valid" (click)="doctorRegister()"> Sign Up</button>

      </form>
    </mat-card-content>
