
<div class="modal-body  row">

  <div class="card col-8 mx-auto pb-2">
    <div class="modal-header mx-auto mt-2  ">
      <h2 class="modal-title" >Invoice Details</h2>

    </div>
     <mat-card class="example-card my-2">

         <mat-card-header>

           <mat-card-title><i class="fa  fa-user"></i> Patient Name :   {{invoice.patient.name}}</mat-card-title>
           <mat-card-subtitle class="mb-4 "><i class="fa fa-envelope"></i> Patient Email: {{invoice.patient.email}}
            <br> <i class="fa fa-phone"></i> Phone: 0{{invoice.patient.phone}}
          </mat-card-subtitle>

         </mat-card-header>
         <mat-card-content>
             <ul class="list-group list-group-flush">
               <li class="list-group-item"><i  class="fa fa-calendar-check " ></i>

                Date:  {{invoice.date.split('T')[0]}}</li>

               <li class="list-group-item"><i class="fa fa-wallet"></i> paymentType:  {{invoice.paymentType}} </li>
               <li class="list-group-item">Type:  {{invoice.doctor.speciality}}</li>
               <div class="row mt-2">
                 <ul class="list-group list-group-flush col mt-2 mx-1">
                  <h4 class="ms-2"><i class="fa  fa-user"></i> Doctor: </h4>
                  <li class="list-group-item">Name: Dr\ {{invoice.doctor.name}}</li>
                  <li class="list-group-item"><i class="fa fa-phone"></i> Phone:  {{invoice.doctor.phone}}</li>
                  <li class="list-group-item"><i class="fa fa-envelope"></i>Email: {{invoice.doctor.email}}</li>
                  <li class="list-group-item"><i class="fa fa-wallet"></i>doctor Price:  {{invoice.doctor.price}} $</li>

                 </ul>
               </div>
               <div class="d-grid gap-2 d-md-flex justify-content-md-end cost">

                 <li class="list-group-item">Total Cost:  {{invoice.totalCost}} $</li>
               </div>
               </ul>


               <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button mat-raised-button style="background: #727d97;" class='me-2  mt-5' (click)="back()"  > Back</button>
                         </div>
              </mat-card-content>
            </mat-card>
 </div>

</div>
